<link rel="stylesheet" type="text/css" href="./stylesheets/comments.css">
<div class="comment-container">
    <div id="comment-wall">
        <% comments = post.comments %>
        <% comments.forEach((comment)=> {%>
            <div class="comment-container">
                <div class="comment-content">
                    <div class="comment-user">
                        <p><%= comment.username %> : </p>
                    </div>
                    <div class="comment-text">
                        <p><%= comment.content %></p>
                    </div>
                </div>
                <div class="comment-footer">
                    <div class="comment-date">
                        <% date = new Date(comment.datetime) %>
                        Posted: <%= date.toLocaleDateString() %>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
        <form class="comment-form" action="/addComment/<%=post._id%>" method="post">
            <input class="comment-input" type="text" name="comment" placeholder="Comment" id="commentBox" required pattern="[A-Za-z0-9 ]+">
            <input class="comment-submit" type="submit" value="Post">
        </form>
</div>