<!-- views/partials/header.ejs -->
<div class="header">
    <div class="banner">
        <img class="banner-img">
    </div>
    <div class="navbar">
        <a><span class="navbutton home"></span></a>
        <a><span class="navbutton game"></span></a>
        <a><span class="navbutton user"></span></a>
    </div>
</div>