<!-- views/partials/header.ejs -->
<link rel="stylesheet" type="text/css" href="./stylesheets/header.css">
<div class="banner">
    Insert Logo Here
    <img class="banner-img">
</div>
<div class="navbar">
    <ul class="navbutton-container">
        <a href="./"><li class="navbutton home" style="margin-left: 5vw;">Home</li></a>
        <a href="./game"><li class="navbutton game">Game</li></a>
        <a href="./user"><li class="navbutton user">User</li></a>
    </ul>
</div>