<!-- views/partials/header.ejs -->
<link rel="stylesheet" type="text/css" href="./stylesheets/header.css">
<div class="banner">
    <img class="banner-img">
</div>
<div class="navbar">
    <ul class="navbutton-container">
        <a href="./"><li class="navbutton home">home</li></a>
        <a href="./"><li class="navbutton game">game</li></a>
        <a href="./"><li class="navbutton user">user</li></a>
    </ul>
</div>