<!-- views/partials/userInfo.ejs -->
<link rel="stylesheet" type="text/css" href="./stylesheets/loginBtn.css">

<div class="login-pane">
    <a class="login-link" href="./login"><div class="login-btn" >Login</div></a>
</div>
