<!-- views/partials/userInfo.ejs -->
<link rel="stylesheet" type="text/css" href="./stylesheets/userInfo.css">

<div class= "user-pane">
    <div class="user-name"><%=username%></div>
    <form action="/logout" method="post">
        <input type="submit" class="logout-btn" value="Logout">
    </form>
</div>

