<!-- views/partials/userInfo.ejs -->
<link rel="stylesheet" type="text/css" href="./stylesheets/userInfo.css">

<div class= "user-pane">
    <div class="user-name"><%=session.user.username%></div>
    <div class="logout-btn" onclick="logout()">Logout</div>
</div>

<script>
    function logout() {
        $body = $('body');
        $body.load('/logout');
    }
</script>   