<head>
    <title>Justice for Ugly Animals - Login</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/login.css">
</head>

<div class="login">
    <h1>Login</h1>
    <form action="/auth" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <a  href="./signup">Sign Up</a>
        <input type="submit" value="Login">
    </form>
</div>