<!DOCTYPE html>
<html>

<head>
    <title>Justice for Ugly Animals - Home</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/post.css">
</head>

<body>
    <%- include('./partials/header') %>
    <%- include('./partials/footer') %>
</body>
</html>