* {
    padding: 0;
    margin: 0;
}

.comment-wall {
    width: 80%;
}

.comment-container {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1vh !important;
    margin-bottom: 1vh !important;
    width: 56vw;
    height: fit-content;
    display: block;
    overflow: hidden;
    border-radius: 4vh;
    padding-top: 2vh;

    background-color: rgb(241, 218, 155);
}

.comment-content {
    width: 100%;
    height: fit-content;
    display: inline-block;
}

.comment-user {
    width: 7vw;
    height: 8%;
    text-align: right;
    float: left;
    display: block;
    font-size: 2.4vh;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 1vw;
}

.comment-text {
    width: 48vw;
    height: 8%;
    text-align: left;
    float: right;
    display: block;
    font-size: 2.4vh;
}

.comment-footer {
    width: 100%;
    height: 2vh;
    display: inline-block;
    margin-bottom: 1vh !important;
    font-size: 1.6vh;
}

.comment-date {
    width: 40%;
    height: 5%;
    float: right;
    text-align: center;
    display: block;
}

.comment-form {
    width: 100%;
    height: fit-content;
}

.comment-input {
    width: 50vw;
    height: fit-content;
    border: 0.5vh solid #dee0e4;
    margin-left: 2vw;
    margin-bottom: 1vh;
    padding: 0 2vh;
    font-size: 2.4vh;
    border-radius: 1vh;
}

.comment-submit {
    width: 20%;
    padding: 2vh;
    margin-bottom: 3vh;
    margin-right: 2vw;
    background-color: rgb(135, 196, 78);;
    border: 0;
    border-radius: 1vh;
    cursor: pointer;
    float: right;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.comment-submit:hover {
    background-color: rgb(94, 146, 46);
    transition: background-color 0.2s;
}