* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.banner {
    width: 100%;
    height: 6vw;

    background-color: rgb(135, 196, 78);
    text-align: center;

    font-size: 4.8vw;
    font-weight: bolder;
}
.navbar {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0;
    background-color: rgb(135, 196, 78);
    z-index: 5;
}

.navbutton {
    display: inline-block;
    height: 2.8vw;
    width: 30vw;
    background-color: rgb(135, 196, 78);
    transition: background-color 0.2s;

    text-align: center;
    font-size: 2.2vw;
    color: rgb(22, 21, 21);
}

.navbutton:hover {
    background-color: rgb(94, 146, 46);
    transition: background-color 0.2s;
}