* {
    padding: 0;
    margin: 0;
}

.post-wall {
    width: 80%;
}

.post-container {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 4vh !important;
    margin-bottom: 4vh !important;
    width: 60vw;
    height: fit-content;
    display: block;
    overflow: hidden;
    border-radius: 4vh;

    background-color: rgb(241, 218, 155);
}

.post-image {
    width: 100%;
}

.post-image-container {
    display: block;
    width: 100%;
    height: 64%;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-y: hidden;
}

.post-info {
    width: 100%;
    height: fit-content;
    display: inline-block;
    font-size: 3vh;
}

.post-user {
    width: 40%;
    height: 8%;
    text-align: center;
    float: left;
    display: block;
}

.post-title {
    width: 40%;
    height: 8%;
    text-align: center;
    float: right;
    display: block;
}

.post-footer {
    width: 100%;
    height: 4vh;
    display: inline-block;
    margin-top: 1vh !important;
    margin-bottom: 1vh !important;
    font-size: 2vh;
    padding: 0;
}

.post-score {
    width: 30%;
    height: 4vh;
    text-align: center;
    display: block;
    margin: 0;
    position: absolute;
    left: 15%;
}

.post-date {
    width: 30%;
    height: 4vh;
    text-align: center;
    display: block;
    margin: 0;
    position: absolute;
    right: 15%;
}

.unlike, .like {
    height: 4vh;
    width: 20%;
    background-color: rgb(135, 196, 78);
    border-radius: 1vh;
    position: absolute;
    left: 40%;
    margin: 0;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.unlike:hover, .like:hover {
    background-color: rgb(94, 146, 46);
    transition: background-color 0.2s;
}

