* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #435165;
}

.signup {
    width: 42vh;
    height: 46vh;
    background-color: #ffffff;
    box-shadow: 1vh 1vh rgba(20, 20, 20, 0.726);
    border-radius: 5vh;
    margin: 20vh auto;
    overflow: hidden;
}

.signup h1 {
    text-align: center;
    color: #5b6574;
    font-size: 4vh;
    padding: 2vh 0 2vh 0;
    border-bottom: 0.5vh solid #dee0e4;
}

.signup form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3vh;
}

.signup form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 7vh;
    background-color: rgb(135, 196, 78);
    color: #ffffff;
}

.signup form input[type="password"],
.signup form input[type="text"] {
    width: 30vh;
    height: 7vh;
    border: 0.5vh solid #dee0e4;
    margin-bottom: 3vh;
    padding: 0 2vh;
}

.signup form input[type="submit"] {
    width: 100%;
    padding: 2vh;
    margin-top: 2.6vh;
    background-color: rgb(135, 196, 78);
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.signup form input[type="submit"]:hover {
    background-color: rgb(94, 146, 46);
    transition: background-color 0.2s;
}

.signup a {
    width: 36%;
    padding: 1vh;
    margin-top: 1vh;
    background-color: rgb(135, 196, 78);
    border: 0;
    border-radius: 2vh;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;

    text-align: center;
    text-decoration: none;
}

.signup a:hover {
    background-color: rgb(94, 146, 46);
    transition: background-color 0.2s;
}

.cross {
    position: absolute;
    right: 1vh;
    top: 1vh;
    width: 10vh;
    height: 10vh;
    opacity: 0.3;
}

.cross:hover {
    opacity: 1;
}

.cross:before,
.cross:after {
    position: absolute;
    left: 4.5vh;
    content: ' ';
    height: 10vh;
    width: 1vh;
    background-color: #333;
}

.cross:after {
    transform: rotate(-90deg);
}