.user-pane {
    height: 13vh;
    width: 24vh;

    background-color: rgb(135, 196, 78);
    border-radius: 4vh 0 0 4vh;

    position: fixed;
    top: 28vh;
    right: 0;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.user-name {
    height: 7vh;
    width: 24vh;
    line-height: 8vh;
    font-size: 4vh;
}
.logout-btn {
    height: 4vh;
    width: 24vh;
    line-height: 3vh;
    font-size: 2vh;
    opacity: 0.6;
    background-color: #00000000;
    border: 0;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.logout-btn:hover {
    opacity: 1;
}